<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vistalytics</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        mark, .mark{
            background-color: yellow !important;
        }
    </style>
</head>
<body ng-app="ExampleApp">
<!-- attach the ExampleController to our main content -->
<div ng-controller="ExampleController" class="container">
    <h1 style="text-align: center">Vistalytics</h1>

    <!-- if there is an error, display its message -->
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search...">
                <span class="input-group-btn" ng-click="onSearch()">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <br>
    <div class="col-lg-12">
        <div class="col-md-6 col-md-offset-3">
            <div ng-if="hits" ng-repeat="hit in hits" class="row panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Document {{hit._id}}</h3>
                </div>
                <div class="panel-body" ng-repeat="result in hit.highlight">
                    <div ng-repeat="(key, value) in result">
                        <a href="" ng-click="onTextClick($index, $event, hit._id, searchText)">{{value}}</a>
                        <hr>
                        <!--<pre style="white-space: normal" ng-bind-html="highlight(value, hit._id)"></pre>-->
                    </div>
                    <!--<div ng-repeat="data in result">
                        <pre style="white-space: normal"><div compile="highlight(data, hit._id)"></div></pre>
                    </div>-->
                </div>
            </div>
            <div ng-if="!hits">
                No results found
            </div>
        </div>
    </div>
    <div class="modal fade" id="htmlModal" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModal2Label">Modal title</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<!-- include npm modules in proper order -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/elasticsearch-browser/elasticsearch.angular.min.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

<!-- app code starts is here -->
<script>
    var ExampleApp = angular.module('ExampleApp', ['elasticsearch']);

    ExampleApp.service('client', function (esFactory) {
        return esFactory({
            host: 'localhost:9200',
            log: 'trace'
        });
    });

    ExampleApp.controller('ExampleController', function ($scope, $sce, client) {
        $scope.bindmodalEvent = true;
        $scope.indexName = "vistalytics";
        $scope.indexType = "ALPHAENERGYINC";
        $scope.field = "xmlLine";
//        $scope.indexName = "vista-text";
//        $scope.indexType = "text-files";
//        $scope.field = "attachment.content";
        $scope.onSearch = function(){
            $scope.hits = null;
            var searchedWord = $scope.searchText;
            console.log(searchedWord);
            client.search({
                index: $scope.indexName,
                type: $scope.indexType,
                body: {
                    query: {
                        match_phrase: {
                            [$scope.field]: searchedWord
                        }
                    },
                    highlight : {
                        order : "score",
                        require_field_match: false,
                        fields : {
                            [$scope.field] : {
                                "fragmenter": "simple"
                            }
                        }
                    }
                }
            }).then(function (resp) {
                if(resp.hits.hits.length > 0)
                    $scope.hits = resp.hits.hits;
            }, function (err) {
                console.trace(err.message);
            });
        };

        $scope.onTextClick = function (index, event, id, searchedWord) {
            client.search({
                index: $scope.indexName,
                type: $scope.indexType,
                body: {
                    "_source": false,
                    query: {
                        "bool": {
                            "must": [
                                {"terms": {"_id":[id]}}
                            ],
                            "should":
                                { "match": {[$scope.field]: searchedWord}}
                        }
                    },
                    "highlight" : {
                        "pre_tags":"<mark>",
                        "post_tags":"</mark>",
                        "fields" : {
                            [$scope.field] : {
                                "number_of_fragments" : 0
                            }
                        }
                    }
                }
            }).then(function (resp) {
                var content = resp.hits.hits[0].highlight[$scope.field][0];
                //var highlighted_text = $scope.highlight(content, searchedWord);
                console.log(content);

                console.log("resp" + index);
                $("#htmlModal").modal('show');
                $("#htmlModal .modal-title").html(id);
                $("#htmlModal .modal-body").html(content)
                if ($scope.bindmodalEvent) {
                    $("#htmlModal").on('shown.bs.modal', function () {
                        var element = "mark";
                        var container = $("#htmlModal"),
                            scrollTo = $($(element)[index]);
                        console.log('shown.bs.modal', index);
                        var scrollPosition = scrollTo.offset().top - container.offset().top + container.scrollTop();
                        container.animate({
                            scrollTop: scrollPosition
                        });
                    });

                    $("#htmlModal").on('hidden.bs.modal', function () {
                        console.log('hidden.bs.modal', index);
                        $(this).data('bs.modal', null);
                    });
                    $scope.bindmodalEvent = false;
                }
//                window.open('about:blank').document.body.innerHTML = highlighted_text;
            }, function (err) {
                console.trace(err.message);
            });
        };
        $scope.highlight = function(haystack, searchText) {
            var count = 0;
            var needle = searchText;
            if(!needle) {
                return $sce.trustAsHtml(haystack);
            }
            return $sce.trustAsHtml(haystack.replace(new RegExp(needle, "gi"), function(match) {
                var id = "mark"+count;
                count++;
//                console.log(match, id);
                //return $sce.trustAsHtml(haystack);
                return '<span id="'+id+'" class="highlight">' + match + '</span>';
            }));
        };
    });
</script>
</body>
</html>